<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <p class="left"><%= comment.user.name %>さんのコメント</p>
        <p class="left"><%= comment.content %></p>
        <% if current_user.id == comment.user.id %>
        <div class="dropdown text-right drop_comme_posi">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span>
        </button>
          <p class="right dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
            <%= link_to '編集する', edit_topic_comment_path(topic, comment), class: "fa fa-pencil-square-o fa-lg" %><br>
            <%= link_to '削除する', topic_comment_path(topic, comment), id: "comments_area", class: "fa fa-trash-o fa-lg", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？'} %>
          </p>
        </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
