<div class="wrapper col-xs-offset-1 col-xs-10">
  <div class="message_index">
  <table class="table table-hover">
    <thead>
      <h3>メッセージ - ユーザー一覧</h3>
      <p>ユーザーにメッセージを送れます</p>

    <tbody>
      <% @conversations.each do |conversation| %>
        <!-- （自分とユーザー）だけ、（他人とユーザー）は出さない -->
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id%>
          <tr>
            <td>
              <% if conversation.target_user(current_user).present? %>
                <!-- conversation_messages_path()はリンクを生成するヘルパーメソッド -->
                <!-- Prefix列で確認できる(rake routes) -->
                <div class="messe_ava" >
                <%= profile_img(conversation.target_user(current_user)) %>
                <%= link_to "#{conversation.target_user(current_user).name}さん", conversation_messages_path(conversation)%>
              </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
