<div class="container">
  <h2>ユーザー一覧</h2>
  <h3>フォローユーザー</h3>
  <% @user.followed_users.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6">
      <%= profile_img(user)%>
    </div>
  <% end %>

  <h3>フォロワーユーザー</h3>
  <% @user.followers.each do |user| %>
    <%= profile_img(user)%>
  <% end %>

  <%= link_to "戻る", users_path %>
</div>
