// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
 width: 100%;
 height: 54px;
 background-color: #4267b2;
margin-bottom: 30px;
}

.navbar-default {
  border: 0;
}

.navbar {
 background-color: transparent;
 color: white;
 margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: white;
    &:hover {
      color: darkgray;
    }
  }
  .navbar-nav > li > a {
    color: white;
    &:hover, &:focus {
      color: darkgray;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}

.search_form{
  position: relative;
  top: -3px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: white;
    &:hover, &:focus {
      background-color: white;
    }
  }
  .search_form{
    display: none;
  }
  .drop_menu {
    background-color: #4267b2;
    z-index: 1000;
  }
}

.drop_menu {
  background-color: white;
  z-index: 1000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #f5f8fa;
}

footer{
  width: 100%;
  background-color: #4267b2;
  padding: 10px 0 5px 0;
  color: white;
  margin: auto;
  font-size: 15px;
  // ウィンドウに固定
  position: absolute;
  bottom: 0;
}

// フラッシュメッセージ
.flash {
  color: white;
  padding-top: 10px;
}

img {
  max-width: 60%;
}

.img_avater img {
  max-width: 10%;
}

.img_my_avater img {
  max-width: 30%;
  text-align: left;
  margin-top: 10px
}

.user_img img {
  max-width: 40%;
}

.follo_image img {
  float:left;
  margin: 5px 0px;
  max-width: 150px;
  max-height: 100px;
}

.message_ava img {
  border-radius: 30px;
  max-width: 40px;
  max-height: 40px;
  position: relative;
  top: 5px;
}

.wrapper {
  border-bottom: 74px;
  padding: 0px 10px 10px 25px;
}

.container {
  padding-bottom: 85px;
}

.topic-list{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0px;
  text-align: left;
  background-color: white;
}

.line{
  padding-top: 5px;
  border-top: 1px solid #ccc;
}

.content_name{
  position: relative;
  top: 5px;
}
.drop_menu_posi{
  position: relative;
  top: -25px;
}
.topic_ava_pro {
  position: relative;
  top: -55px;
  left: 70px;
}

.topic_content{
  font-size: 18px;
  position: relative;
  top: -25px;
}

.topic_content_image {
  position: relative;
  top: -10px;
}

@media (max-width: 670px){
  .topic_ava_pro{
  position: static; // 戻す
  }
  .topic_content{
  position: static; // 戻す
  }
}

.user-list{
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
  background-color: white;
}

@media (max-width: 670px){
  .user-list{
  text-align: center;
  margin: 0px 20px 5px 10px;
  }
}

.follo{
  margin: 0px 0px 10px 30px;
  background-color: white;
  border: 1px solid #ccc;
}

.follo_name {
  line-height: 100px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.follo_main {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.back_btn{
  margin-top: 10px;
}

.comment_content{
  float:left;
}

.topic-text{
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.comment_list{
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
}
