// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background-color: #4267b2;
  height: 45px;
}

// ブートストラップ "navbar" の色変更
.navbar-default {
  border-bottom: 0.5px solid #29487d;
  background-color: #4267b2;
  color: white;
  .navbar-brand-img {
    color: white;
    font-size: 20px;
    &:hover {
      color: gray;
    }
  }
  .navbar-brand {
    color: white;
    font-size: 12px;
    &:hover {
      color: gray;
    }
  }
}

footer{
  width: 100%;
  background-color: #4267b2;
  padding: 10px 0 5px 0;
  margin: auto;
  font-size: 10px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

// フラッシュメッセージ
.flash {
  color: white;
  padding-top: 10px;
}
